{% extends 'base.html.twig' %}

{% block title %}Confirmation de réservation - Musée du Louvres{% endblock %}

{% block body %}
    <header class="reservation-header">
        <div class="container text-center my-auto">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} text-center">
                        <b>{{ message }}</b>
                    </div>
                {% endfor %}
            {% endfor %}
            <h1 class="mb-1">Musée du Louvres</h1>
            <h3 class="mb-5">
                <em>Confirmation de réservation</em>
            </h3>
        </div>
    </header>
    <section class="container">
        <div class="content-section">
            <div class="row">
                <div class="col-12">
                    <div class="container text-center">
                        <div class="text-center mt-4">
                            <h2>Vos Billets</h2>
                        </div>
                        <div class="row">
                            <p>Nous vous confirmons le paiement de votre réservation pour les billets suivants :</p>
                            <ul>
                                {% for billet in reservation.billets %}
                                    <li>{{ billet.nom ~ ' ' ~ billet.prenom }} — Tarif : <b>{{ billet.tarif }}€</b></li>
                                {% endfor %}
                            </ul>
                            <p>Vous allez également recevoir un mail de confirmation faisaint guise de d'entrée pour le musée.</p>
                            <p><em>Le cas échéant, pensez à vos justificatifs de tarif réduit, ils vous seront demandé !</em></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
