{% extends 'base.html.twig' %}

{% block title %}Musée du Louvres{% endblock %}

{% block body %}

    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Musée du Louvres</h1>
            <h3 class="mb-5">
                <em>Réservez vos billets en ligne directement, et évitez la file d'attente</em>
            </h3>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#tarifs">Nos Tarifs</a>
            <a class="btn btn-secondary btn-xl js-scroll-trigger" href="#reserver">Réserver</a>
        </div>
    </header>

    <!-- Tarifs -->
    <section class="content-section bg-light" id="tarifs">
        <div class="container text-center">
            <div class="content-section-heading text-center">
                <h2 class="mb-5">Nos tarifs</h2>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <div class="row">
                        <div class="col-md-3 col-6">
                            <div class="card bg-secondary prices">16€ <span>Normal</span><span><i>Dès 12 ans</i></span></div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="card bg-primary prices">8€ <span>Enfant</span><span><i>Dès 4 ans</i></span></div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="card bg-secondary prices">12€ <span>Sénior</span><span><i>Dès 60 ans</i></span></div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="card bg-primary prices">10€ <span>Réduit</span><span><i>Justificatif demandé</i></span></div>
                        </div>
                    </div>
                    <a class="btn btn-dark btn-xl js-scroll-trigger mt-5" href="#reserver">Réserver</a>
                </div>
            </div>
        </div>
    </section>


    <!-- Réserver -->
    <section class="callout">
        <div class="container text-center booking" id="reserver">
            <h2 class="mx-auto mb-5">Je réserve</h2>
            <div class="">
                {{ include('forms/_reservation.html.twig') }}
            </div>
        </div>
    </section>

    <!-- Infos -->
    <section class="content-section bg-light" id="infos">
        <div class="container">
            <div class="content-section-heading text-center">
                <h2 class="mb-5">Infos Pratiques</h2>
            </div>
            <div class="row">
                <div class="col-4 text-center">
                    <p class="h2 mb-5 text-primary"><i class="fas fa-phone"></i></p>
                    <p>01 40 20 50 50</p>
                    <p>01 40 20 53 17</p>
                    <p>info@louvre.fr</p>
                </div>
                <div class="col-4 text-center">
                    <p class="h2 mb-5 text-primary"><i class="fas fa-calendar-alt"></i></p>
                    <p>Tous les jours, sauf le mardi</p>
                    <p>De 9h à 18h45</p>
                    <p>21h45 les mercredis et vendredis</p>
                </div>
                <div class="col-4 text-center">
                    <p class="h2 mb-5 text-primary"><i class="fas fa-map-marker-alt"></i></p>
                    <p>Musée du Louvres</p>
                    <p>Rue de Rivoli</p>
                    <p>75001 Paris</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(function () {
            //affichage des inputs en fonction du nombre de billets
            let $container = $('div#reservation_billets');
            addBillet($container, $('#reservation_nombreBillets').val());

            $('#reservation_nombreBillets').on('change', function () {
                let nbBillet = $(this).val();
                addBillet($container, nbBillet);
            });

            function addBillet($container, nbBillet) {
                $container.empty();
                for (let i = 0; i < nbBillet; i++) {
                    let template = $container.attr('data-prototype')
                        .replace(/__name__label__/g, 'Billet n°' + (i + 1))
                        .replace(/__name__/g, i)
                    ;

                    let $prototype = $(template);

                    $container.append($prototype);
                }
            }

            //gestions des tabs du formulaire
            let currentTab = 0;
            showTab(currentTab);

            $('#nextBtn').on('click', function (e) {
                e.preventDefault();
                nextPrev(1);
            });
            $('#prevBtn').on('click', function (e) {
                e.preventDefault();
                nextPrev(-1);
            });

            function showTab(tab) {
                let tabs = $('.tab');
                $(tabs[tab]).css('display', 'block');

                if (tab === (tabs.length - 1)) {
                    $('#nextBtn').css('display', 'none');
                    $('#prevBtn').css('display', 'inline');
                } else if (tab === 0) {
                    $('#prevBtn').css('display', 'none');
                    $('#nextBtn').css('display', 'inline');
                } else {
                    $('#nextBtn').css('display', 'inline');
                    $('#prevBtn').css('display', 'inline');
                }
            }

            function nextPrev(n) {
                let tabs = $('.tab');
                $(tabs[currentTab]).css('display', 'none');

                currentTab += n;
                showTab(currentTab);
            }

            function calculate_age(naissance) {
                var diff_ms = Date.now() - naissance;
                var age_dt = new Date(diff_ms);

                return Math.abs(age_dt.getUTCFullYear() - 1970);
            }

            //Desactivation du bouton réduction si -12 ans
            $("body").delegate('.dateNaissance', "change", function () {
                let dateNaissance = new Date($(this).val());
                let age = calculate_age(dateNaissance);

                if (age < 12) {
                    console.log('-12 ans');
                    console.log($(this).parent().parent().parent().find('.reduction').val());
                    $(this).parent().parent().parent().find('.reduction').attr('disabled', true);
                } else {
                    $(this).parent().parent().parent().find('.reduction').attr('disabled', false);
                }
            });
        })
        ;
    </script>

{% endblock %}
