{% extends 'base.html.twig' %}

{% block title %}Musée du Louvres{% endblock %}

{% block body %}

    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Stylish Portfolio</h1>
            <h3 class="mb-5">
                <em>A Free Bootstrap Theme by Start Bootstrap</em>
            </h3>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#tarifs">Nos Tarifs</a>
            <a class="btn btn-secondary btn-xl js-scroll-trigger" href="#reserver">Réserver</a>
        </div>
    </header>

    <!-- Tarifs -->
    <section class="content-section bg-light" id="tarifs">
        <div class="container text-center">
            <div class="content-section-heading text-center">
                <h2 class="mb-5">Nos tarifs</h2>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <p class="lead mb-5">This theme features a flexible, UX friendly sidebar menu and stock photos from our
                        friends at
                        <a href="https://unsplash.com/">Unsplash</a>!</p>
                    <div class="row">
                        <div class="col-md-3 col-6">
                            <div class="card bg-secondary prices">16€ <span>Normal</span></div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="card bg-primary prices">8€ <span>Enfant</span></div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="card bg-secondary prices">12€ <span>Sénior</span></div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="card bg-primary prices">10€ <span>Réduit*</span></div>
                        </div>
                    </div>
                    <a class="btn btn-dark btn-xl js-scroll-trigger mt-5" href="#reserver">Réserver</a>
                </div>
            </div>
        </div>
    </section>


    <!-- Réserver -->
    <section class="callout" >
        <div class="container text-center booking" id="reserver">
            <h2 class="mx-auto mb-5">Je réserve</h2>
                <div class="">
                    {{ include('forms/_reservation.html.twig') }}
                </div>
        </div>
    </section>

    <!-- Infos -->
    <section class="content-section bg-light" id="infos">
        <div class="container">
            <div class="content-section-heading text-center">
                <h2 class="mb-5">Infos Pratiques</h2>
            </div>
            <div class="row">
                <div class="col-4 text-center">
                    <p class="h2 mb-5 text-primary"><i class="fas fa-phone"></i></p>
                    <p>Information</p>
                    <p>Information</p>
                    <p>Information</p>
                </div>
                <div class="col-4 text-center">
                    <p class="h2 mb-5 text-primary"><i class="fas fa-calendar-alt"></i></p>
                    <p>Information</p>
                    <p>Information</p>
                    <p>Information</p>
                </div>
                <div class="col-4 text-center">
                    <p class="h2 mb-5 text-primary"><i class="fas fa-map-marker-alt"></i></p>
                    <p>Information</p>
                    <p>Information</p>
                    <p>Information</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(function(){
            //affichage des inputs en fonction du nombre de billets
            let $container = $('div#reservation_billets');
            addBillet($container, $('#reservation_nombreBillets').val());

            $('#reservation_nombreBillets').on('change', function () {
                nbBillet = $(this).val();

                addBillet($container, nbBillet);
            });

            function addBillet($container, nbBillet) {
                $container.empty();
                for (let i = 0; i < nbBillet; i++) {
                    let template = $container.attr('data-prototype')
                        .replace(/__name__label__/g, 'Billet n°' + (i+1))
                        .replace(/__name__/g, i)
                    ;

                    let $prototype = $(template);

                    $container.append($prototype);
                }
            }


            //gestions des tabs du formulaire
            let currentTab = 0;
            showTab(currentTab);

            $('#nextBtn').on('click', function (e) {
                e.preventDefault();
                nextPrev(1);
            });

            $('#prevBtn').on('click', function (e) {
                e.preventDefault();
                nextPrev(-1);
            });

            function showTab(tab) {
                let tabs = $('.tab');
                console.log(tab);
                $(tabs[tab]).css('display', 'block');

                if(tab == 0) {
                    $('#prevBtn').css('display', 'none');
                } else {
                    $('#prevBtn').css('display', 'inline');
                }
            }

            function nextPrev(n) {
                let tabs = $('.tab');
                $(tabs[currentTab]).css('display', 'none');

                currentTab += n;
                showTab(currentTab);
            }
        });
    </script>

{% endblock %}
